doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer, src='/socket.io/socket.io.js')
    script(defer, src='/javascripts/client.js')
  body
    block content
